<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BlazedemoFlightBooking">
  <test thread-count="5" name="FlightsBookingTest">
    <packages>
      <package name="blazedemotests"/>
    </packages>
  </test> <!-- FlightsBookingTest -->
</suite> <!-- BlazedemoFlightBooking -->
